#header-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @media (min-width: 576px) {
    flex-flow: row nowrap;
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
}
