$container-backround: rgba(57, 56, 56, 0.5);

.main-container {
  background-color: $container-backround;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
}
.top-headline {
  svg{
    
  }
  h1 {
    background-color: red;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
