$background: rgb(32, 33, 36);
$yellow: rgba(255, 167, 63, 1);
$grey: rgba(136, 130, 124);
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: $background;
  color: white;
  .container {
    width: 95%;
    margin: auto;
  }

  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
}
