$first: rgba(255, 167, 63, 0.45);
$second: rgba(255, 255, 255, 0.7);
$logo-gradient: $first, $second;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#default-logo-style {
  text-align: center;
  text-decoration: none;
  display: inherit;
  flex-basis: 10%;
  h1 {
    @include gradient(left, $logo-gradient);
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
