$background: rgba(136, 130, 124, 1);
.now {
  flex-basis: 20%;
  background-color: $background;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  color: white;
  .top {
    flex-basis: 20%;
    text-align: center;
    h1 {
      font-weight: 300;
    }
  }
  .middle {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 4rem;
    }
  }
  .bottom {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 30%;

    .left-side {
      padding: 10px;
      flex-basis: 50%;
      display: flex;
      flex-flow: column;
      .left-top {
        flex-basis: 50%;
      }
      .left-bottom {
        flex-basis: 50%;
        font-size: 2rem;
      }
    }
    .right-side {
      flex-basis: 50%;
    }
  }
}
