$mustard: rgba(255, 167, 63, 1);

.daily-card {
  display: flex;
  flex-flow: column wrap;
  background-color: $mustard;
  border-radius: 10px;
  color: white;
  text-align: center;
  flex-basis: 80%;
  @media (min-width: 576px) {
    flex-basis: 40%;
  }
  @media (min-width: 768px) {
    flex-basis: 20%;
  }
  @media (min-width: 992px) {
    flex-basis: 5%;
  }
  @media (min-width: 1200px) {
  }

  .daily-card-top {
    text-align: center;
    flex-basis: 20%;
    h1 {
      font-size: 3rem;
    }
  }
  .daily-card-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 40px;
  }
  .bolded {
    font-weight: 600;
  }
  .light {
    font-weight: 300;
  }
}
